<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit</h1>
    <form
      method="POST"
      action="/edit-user/<%= data.id %>"
      enctype="application/x-www-form-urlencoded"
    >
      <input type="text" name="name" value="<%= data.name %>" />
      <input type="text" name="email" value="<%= data.email %>" />
      <input type="text" name="address" value="<%= data.address %>" />
      <button type="submit">Edit User</button>
    </form>
  </body>
</html>
